


<main>

  <section id="navLinks2">
    <div class="nav__links2">
      <ul>
        <li><a href="QandA">Frågor och Svar</a></li>
        <li><a href="contact">Kontakta oss</a></li>
        <li><a href="age-limit">Åldergränser</a></li>
        <li><a href="#" id="openModalLink">Lämna Feedback</a></li>
      </ul>
    </div>
  </section>
</main>
<h1>Åldersgränser på Tidaholm Biohörna</h1>

<h2>Bio</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur
  minus inventore consequuntur obcaecati saepe libero maiores iusto! Sunt,
  similique iusto! Dicta doloremque sint optio nostrum modi sed repudiandae
  iusto!
</p>
<h2>Helger</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur
  minus inventore consequuntur obcaecati saepe libero maiores iusto! Sunt,
  similique iusto! Dicta doloremque sint optio nostrum modi sed repudiandae
  iusto!
</p>
<h2>Barn</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur
  minus inventore consequuntur obcaecati saepe libero maiores iusto! Sunt,
  similique iusto! Dicta doloremque sint optio nostrum modi sed repudiandae
  iusto!
</p>
</main>

</html>